@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5" style="display:inline-block; margin:0px 15px"><a href="/products">Products</a></h1>
    <h1 class="display-5" style="display:inline-block;">|</h1>
    <h1 class="display-5" style="display:inline-block; margin:0px 15px">Categories</h1>
</div>
